.game-grid {
  background-color: aliceblue;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap: 1px;
}

.grid-box {
  background-color: aquamarine;
  width: 100%;
  height: 100%;
}

.player-main {
  background-color: black;
  width: 100%;
  height: 100%;
}
